.mainHeaderContainer {
    width: 100%;
    padding: 15px 0;
    
    top: 0;
    position: sticky;   
    z-index: 1000;
  }
  
  .containerHeaderList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    
  }
  
  .headerList {
    border: solid 2px rgba(255, 255, 255, 0.836);
    margin: 0 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 15%;
  }
  
  .headerList:hover {
   transform: scale(1.1);
   transition: all 0.3ms ease;
  }
  