
.mainContainerAbout{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 16%;
    margin-bottom: 5%;
}

.titleAbout{
    padding: 5%;
    font-size: 60px;
}

.descriptionAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.containerTitleAbout{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.textAbout{
    font-family: 'Dancing Script', cursive;
    font-size:small;
    font-style: normal;
    font-size: 17px;
    line-height: 40px;
}
