.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12%; 
}

.presentation {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.titlePresentation {
  width: 100%;
  font-size: 70px;
  text-align: center; 
  margin-bottom: 10px; 
}

.subtitlePresentation {
  font-size: 20px;
  text-align: center;
}

.imgContainer {
  width: 30%;
  margin-bottom: 30px; 
}

.imgPresentation {
  height: auto;
  width: 60%; 
  border-radius: 50%; 
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; 
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 992px) {
  .mainContainer {
    flex-direction: column;
    margin-top: 8%; 
  }

  .titlePresentation {
    font-size: 50px;
  }

  .subtitlePresentation {
    font-size: 18px;
  }

  .imgContainer {
    width: 40%;
  }

  .imgPresentation {
    width: 70%;
  }

  .arrowContainer{
    margin-top: 30%;
  }
}

@media (max-width: 576px) {
  .mainContainer {
    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: 50%;
  }

  .titlePresentation {
    font-size: 30px;
  }

  .subtitlePresentation {
    font-size: 14px;
  }

  .imgContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .imgPresentation {
    width: 90%;
  }
}
