.mainContainerForm {
  padding: 80px;
  border-radius: 20px;
  box-shadow:-2px -4px 120px 2px rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin: 40px auto;
}

.contactTitle {
  margin-bottom: 20px;
  font-size: 45px;
  text-align: center;
  color: #fff;
}

.containerContact {
  margin-bottom: 30px;
}


.containerContact label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
  margin: 2% auto;
}

.containerContact input,
.containerContact textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.containerContact input:focus,
.containerContact textarea:focus {
  outline: none;
  border-color: #000301;
  box-shadow: 0 0 80px rgba(40, 167, 69, 0.2);
}

.containerContact textarea {
  resize: vertical;
  min-height: 100px;
}

.btnFormContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnForm {
  background: #3b0384;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  transition: all 0.3 ease-in-out;
}

.btnForm:hover {
  background: #218838;
}
