/* Fuente para el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(96, 28, 255);
  font-family: 'Dancing Script', sans-serif;
  color: white;
}

