
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12%; 
}

.presentation {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
}

.titlePresentation {
  width: 100%;
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
  color: black;
  text-align: center; 
  margin-bottom: 10px; 
}

.subtitlePresentation {
  font-size: 20px;
  color: black;

  text-align: center;
}

.imgContainer {
  width: 30%;
  margin-bottom: 30px; 
}

.imgPresentation {

  height: auto;
  width: 60%; 
  border-radius: 50%; 
}
